﻿@model int

<br/>
@if (Model <= 0)
{
    <h4>Корзина пуста!</h4>
}
else
{
    <h5>Итого: @Model руб.</h5>
    <br/>
    <a asp-controller="Cart" asp-action="ConfirmOrder" class="btn btn-sm btn-outline-secondary">Подтвердить заказ</a>
    <a asp-controller="Cart" asp-action="ClearCart" class="btn btn-sm btn-outline-secondary">Очистить корзину</a>
}