﻿@model ConfirmOrderViewModel

@{
    ViewBag.Title = "Подтверждение заказа";
    ViewBag.CurrentPage = "Cart";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Подтверждение заказа</h1>
        </div>
        <form method="post" asp-action="ConfirmOrder" asp-controller="Cart">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <label asp-for="PostIndex"></label>
                    <input asp-for="PostIndex" type="text" class="form-control" placeholder="введите почтовый индекс..." value="@Model.Address"/>
                    <span asp-validation-for="PostIndex" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" type="text" class="form-control" placeholder="введите адрес доставки..." value="@Model.Address"/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="введите ваше полное имя..." value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="введите номер телефона..." value="@Model.PhoneNumber"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="TotalCost">Итоговая сумма заказа</label>
                    <input asp-for="TotalCost" type="hidden"/>
                    <p>@Model.TotalCost</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Подтвердить</button>
            </div>
        </form>
    </div>
</div>