﻿@{
    ViewBag.Title = "Корзина";
    ViewBag.CurrentPage = "Cart";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="offset-top">
    <div id="grid"></div>
    <div id="cart-info" class="justify-content-center text-center"></div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/cart/cart.js?v=2"></script>
}