﻿@model ConfirmOrderViewModel

@{
    ViewBag.Title = "Заказ оформлен!";
    ViewBag.CurrentPage = "Cart";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Заказ сформирован, спасибо за покупку! ! Возврат на главную страницу произойдёт через 5 секунд.</h1>
            <h4 class="mb-3 fw-normal">Информация о заказе:</h4>
        </div>
        <div class="card-body">
            <div class="form-floating">
                <label asp-for="Name">Полное имя покупателя:</label>
                <p>@Model.Name</p>
                <hr/>
                <br/>
            </div>
            <div class="form-floating">
                <label asp-for="Address">Адрес доставки</label>
                <p>@Model.Address</p>
                <hr/>
                <br/>
            </div>
            <div class="form-floating">
                <label asp-for="PhoneNumber">Номер телефона покупателя</label>
                <p>@Model.PhoneNumber</p>
                <hr/>
                <br/>
            </div>
            <div class="form-floating">
                <label asp-for="TotalCost">Итоговая сумма заказа</label>
                <p>@Model.TotalCost рублей</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/waitAndGoToIndex.js" asp-append-version="true"></script>
}