﻿@model WebShop.Models.SockViewModel

<div class="col-md-4">
    <div class="card sock-card text-center">
        <div class="card-body">
            <img class="img-thumbnail" src="@Model.ImageSrc" alt="Изображение стельки"/>
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="card-footer">
            <form asp-action="Index" asp-controller="Sock" method="get">
                <input type="hidden" name="id" value="@Model.Id"/>
                <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                <input type="submit" value="Подробнее"/>
            </form>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div class="cart-controls">
                    <input type="hidden" id="sockId" value="@Model.Id"/>
                </div>
            }
        </div>
    </div>
</div>

@* <div class="col-md-4 sock-panel text-center"> *@
@*     <button class="btn btn-default" data-toggle="modal" data-target="#sockModal"> *@
@*         <img class="img-thumbnail" src="@Model.ImageSrc" alt="Изображение стельки"/> *@
@*     </button> *@
@*     <h3>@Model.Name</h3> *@
@*     <input type="hidden" id="sockId" value="@Model.Id"/> *@
@* </div> *@