﻿@model SockViewModel

<div class="col-md-4 sock-panel text-center">
    <button class="btn btn-default" data-toggle="modal" data-target="#sockModal">
        <img class="img-thumbnail" src="@Model.ImageSrc" alt="Изображение стельки"/>
    </button>
    <h3>@Model.Name</h3>
    <input type="hidden" id="sockId" value="@Model.Id"/>
</div>