﻿@model SockCartControlsModel

@if (Model.Count == 0)
{
    <input type="button" id="add" class="cart-add-btn btn btn-sm btn-outline-secondary" value="Добавить в корзину"/>
}
else if (Model.Count > 0)
{
    @if (!Model.IsCart)
    {
        <h4>Стелька в корзине!</h4>
    }
    <div class="row justify-content-center">
        <input type="button" id="add" class="cart-add-btn btn btn-sm btn-outline-secondary" value="+"/>  <h5>@Model.Count шт.</h5>  <input type="button" id="remove" class="cart-remove-btn btn btn-sm btn-outline-secondary" value="-"/>
    </div>
    @if (!Model.IsCart)
    {
        <br/>
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Cart" asp-action="Index">Перейти в корзину</a>
    }
}