﻿@model HomeViewModel

@{
    ViewBag.Title = "Стельки на любой вкус и цвет";
    Layout = "_Layout";
}

@section Navigation
{
    <li class="nav-item">
        <a class="nav-link" href="#home">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#catalog">Каталог</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#instruction">Инструкция</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#reviews">Отзывы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#contacts">Контакты</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="News" asp-action="Index">Новости</a>
    </li>
}

<!--- Start Home Section --->
<div id="home">
    @* Start Landing Page Section *@
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner" style="background-image: url(@Model.ImageLink)">
            </div>
        </div>
    </div>
    
    <div class="caption text-center text-white">
        <h1>Эксклюзивные стельки для Вашей обуви</h1>
        <h2>Кастомизируй свою обувь!</h2>
        @* <a class="btn btn-outline-light btn-secondary btn-lg" href="#catalog">Вот некоторые варианты</a> *@
    </div>
    @* End Landing Page Section *@
</div>
<!--- End Home Section --->

<div class="b-example-divider"></div>

<!--- Start Catalog Section --->
<div id="catalog" class="offset">
    @* Start Jumbotron *@
    <div class="jumbotron text-center">
        <div class="narrow">
            <div class="col-12">
                <h3 class="heading">Вот некоторые варианты</h3>
                <div class="heading-underline"></div>
            </div>
            
            <div id="socks-list"></div>
            
            <div class="heading-underline"></div>
            <div>
                <a class="btn btn-primary heading" asp-controller="Catalog" asp-action="Index">Открыть каталог</a>
            </div>
        </div>
    </div>
    @* End Jumbotron *@
</div>
<!--- End Catalog Section --->

<div class="b-example-divider"></div>

<!--- Start VideoCut Section --->
<div id="instruction" class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 f2-bold lh-1 mb-3">Вы можете вырезать стельку по вашему размер ноги</h1>
            <p class="col-lg-12 fs-4">
                Если ваша старая стелька вытаскивается, то просто приложите её на новую и обрежьте по краю.
                Если нет, то замерьте длину стопы обуви рулеткой.
                На всех наших стельках есть вспомогательные линии, по которым, зная длину стопы, можно вырезать стельку.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
                <img src="@Model.ImageCutLink" class="img-thumbnail" alt="Вырезка стельки"/>
            </div>
        </div>
    </div>
</div>
<!--- End VideoCut Section --->

<div class="b-example-divider"></div>

<!--- Start Reviews Section --->
<div id="reviews" class="offset">
    @* Start Jumbotron *@
    <div class="jumbotron text-center">
        <div class="col-12">
            <h3 class="heading">Отзывы</h3>
            <div class="heading-underline"></div>
        </div>
        
        <div id="reviews-list"></div>
        
        <div class="heading-underline"></div>
        <div>
             @if (User.Identity != null && User.Identity.IsAuthenticated)
             {
                 <a class="btn btn-primary heading" asp-controller="Reviews" asp-action="AddOrEdit">Добавить отзыв</a>
                 <br/>
             }
            <a class="nav-link" asp-controller="Reviews" asp-action="Index">Просмотреть все отзывы</a>
        </div>
    </div>
    @* End Jumbotron *@
</div>
<!--- End Reviews Section --->

<div class="b-example-divider"></div>

<!--- Start Contacts Section --->
<div id="contacts" class="offset">
    <footer>
        <div class="jumbotron text-center">
            <div>
                <h3 class="heading">Контакты</h3>
                <div class="heading-underline"></div>
            </div>
            
            <div class="text-center">
                Телефон: +7(927)439-76-77
                <br/>
                Email: khasanovemil@yandex.ru
                <br/>
                WhatsApp:
                <img src="images/whatsAppLink.jpg" width="100" height="100"/>
                Telegram:
                <img src="images/TGLink.jpg" width="100" height="100"/>
            </div>
        </div>
    </footer>
</div>
<!--- End Contacts Section --->

<div class="modal fade" id="sockModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" id="sockModalContent">
            
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" id="reviewModalContent">
            
        </div>
    </div>
</div>

@section Scripts
{
   <script src="~/js/home/socksIndex.js" asp-append-version="true"></script>
   <script src="~/js/home/reviewsIndex.js" asp-append-version="true"></script>
   <script src="~/js/home/main.js" asp-append-version="true"></script>
}