﻿@model string

@{
    ViewBag.Title = "Добавить роль";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div asp-validation-summary="All" class="text-danger"></div>
 
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input id="name" name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>