﻿@model IEnumerable<WebShop.Data.Models.User>

@{
    ViewBag.Title = "Список пользователей";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>