﻿@model RegisterViewModel

<div class="modal fade" id="registerModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="h3 mb-3 fw-normal">Регистрация нового пользователя</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" asp-action="Register" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl"/>
                    <div class="form-floating">
                        <label asp-for="Email" for="floatingLogin">Логин</label>
                        <input asp-for="Email" name="login" class="form-control" id="floatingLogin" placeholder="введите ваш логин..."/>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Password" for="floatingPassword">Пароль</label>
                        <input asp-for="Password" name="password" type="password" class="form-control" id="floatingPassword" placeholder="введите пароль..."/>
                        <input type="checkbox" onclick="toggleFloatingPassword()" value="Show Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="PasswordConfirm" for="floatingPasswordConfirm">Повторите пароль</label>
                        <input asp-for="PasswordConfirm" name="passwordConfirm" type="password" class="form-control" id="floatingPasswordConfirm" placeholder="повторите пароль..."/>
                        <input type="checkbox" onclick="toggleFloatingPasswordConfirm()" value="Show Password">
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Remember">
                            <input asp-for="Remember" type="checkbox" value="remember"/>
                            Запомнить
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>