﻿@model ReviewViewModel

@if (Model != null)
{
    <div class="modal-body">
        <div class="row">
            <div class="col-5">
                <img class="img-rounded" width="100%" src="@Model.ImageSrc" alt="Аватар пользователя"/>
            </div>
            <div class="col-7">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.AuthorName</h4>
                <p>@Model.Text</p>
                <hr/>
                <h5>Дата @Model.Date</h5>
                <hr/>
                @if (Model.IsAuthor || User.Identity != null && User.IsInRole("admin"))
                {
                    <form asp-action="AddOrEdit" asp-controller="Reviews" method="get">
                        <input type="hidden" name="id" value="@Model.Id"/>
                        <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                        <input type="submit" value="Редактировать"/>
                    </form>
                    <form asp-action="Delete" asp-controller="Reviews" method="post">
                        <input type="hidden" name="id" value="@Model.Id"/>
                        <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                        <input type="submit" value="Удалить"/>
                    </form>
                }
            </div>
        </div>
    </div>
}