﻿@model SockViewModel

@if (Model != null)
{
    <div class="modal-body">
        <div class="row">
            <div class="col-5">
                <img class="img-rounded" width="100%" src="@Model.ImageSrc" alt="Изображение стельки"/>
            </div>
            <div class="col-7">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Name</h4>
                <p>@Model.Description</p>
                <hr/>
                <h5>Стоимость: @Model.Price руб.</h5>
                <hr/>
                @if (Model.NotExists)
                {
                    <h4 class="text-danger">Товара нет в наличии!</h4>
                }
                <form asp-action="Index" asp-controller="Sock" method="get">
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                    <input type="submit" value="Подробнее"/>
                </form>
                @if (User.Identity != null && User.Identity.IsAuthenticated && !Model.NotExists)
                {
                    <div class="btn-group">
                        <div class="cart-controls">
                            <input type="hidden" id="sockId" value="@Model.Id"/>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}