﻿@{
    ViewBag.ReturnUrl = Context.Request.Path.ToString();
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" type="text/css"/>
    <link rel="stylesheet" href="~/css/fixed.css" type="text/css"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<header>
    <!--- Start Navigation --->
    <nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/favicon1.ico"/></a>
            <a class="navbar-brand text-white">Название компании</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLogin">
                <i class="fa-solid fa-user"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    @await RenderSectionAsync("Navigation", required: false)
                </ul>
            </div>
            
            <div class="collapse navbar-collapse navbar-right" id="navbarLogin">
                <div class="nav navbar-nav ml-auto mb-2 mb-md-0">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        @if (ViewBag.CurrentPage != "Cart")
                        {
                            <a class="nav-item nav-link" asp-controller="Cart" asp-action="Index">
                                <div class="d-inline-block">
                                    <span id="cartSpan" class="badge badge-pill bg-danger">0</span>
                                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                                </div>
                            </a>
                        }
                        
                        @if (ViewBag.CurrentPage == "Profile")
                        {
                            <a class="nav-item nav-link active" asp-controller="Account" asp-action="Profile">
                                <i class="fa-solid fa-user"></i> @User.Identity.Name
                            </a>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-controller="Account" asp-action="Profile">
                                <i class="fa-solid fa-user"></i> @User.Identity.Name
                            </a>
                        }
                        
                        <a class="nav-item nav-link" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@ViewBag.ReturnUrl">
                            <i class="fa-solid fa-right-from-bracket"></i> Выйти
                        </a>
                    }
                    else
                    {
                        @if (ViewBag.CurrentPage == "Login")
                        {
                            <a class="nav-item nav-link text-white active" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                <i class="fa-solid fa-right-to-bracket"></i> Войти
                            </a>
                        }
                        else
                        {
                            <a class="nav-item nav-link text-white" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                <i class="fa-solid fa-right-to-bracket"></i> Войти
                            </a>
                        }
                        
                        @if (ViewBag.CurrentPage == "Register")
                        {
                            <a class="nav-item nav-link text-white active" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                <i class="fa-solid fa-user"></i> Зарегистрироваться
                            </a>
                        }
                        else
                        {
                            <a class="nav-item nav-link text-white" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                <i class="fa-solid fa-user"></i> Зарегистрироваться
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>
    <!--- End Navigation --->
</header>

@RenderBody()

<div class="modal fade" id="inputErrorModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="h3 mb-3 fw-normal">Пожалуйста, введите корректные данные</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <button type="button" class="w-100 btn btn-lg btn-primary close" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/dataErrorModal.js"></script>
<script src="https://kit.fontawesome.com/6c867cd846.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
<partial name="_ValidationScriptsPartial"/>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/cartSpanCount.js" asp-append-version="true"></script>

</body>
</html>