﻿<li class="nav-item">
    <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
</li>
@if (ViewBag.CurrentPage != "Catalog")
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
    </li>
}
@if (ViewBag.CurrentPage != "News")
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="News" asp-action="Index">Новости</a>
    </li>
}