﻿@model ChangePasswordViewModel

@{
    ViewBag.Title = "Изменить пароль";
    ViewBag.CurrentPage = "ChangePassword";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Изменение пароля</h1>
        </div>
        <form method="post" asp-action="ChangePassword" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="OldPasswordCheck" value="@Model.OldPasswordCheck"/>
                <div class="form-floating">
                    <label asp-for="OldPassword">Текущий пароль</label>
                    <input asp-for="OldPassword" class="form-control" placeholder="введите текущий пароль..."/>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="NewPassword">Новый пароль</label>
                    <div class="input-group" id="show_hide_password">
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="введите новый пароль..."/>
                        <div class="input-group-addon">
                            <a href="" class="password-show-checkbox"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="NewPasswordConfirm"></label>
                    <div class="input-group" id="show_hide_password_confirm">
                        <input asp-for="NewPasswordConfirm" type="password" class="form-control"placeholder="повторите пароль..."/>
                        <div class="input-group-addon">
                            <a href="" class="password-show-checkbox"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/showPassword.js" asp-append-version="true"></script>
}