﻿@model ProfileViewModel

@{
    ViewBag.Title = "Заполните информацию профиля";
    ViewBag.CurrentPage = "Profile";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">@ViewBag.Title</h1>
        </div>
        <form enctype="multipart/form-data" method="post" asp-action="EditProfile" asp-controller="Account">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Email" value="@Model.Email"/>
                <div class="form-floating">
                    <label asp-for="AvatarImage">Загрузите фотографию профиля</label>
                    <div class="custom-file">
                        <input asp-for="AvatarImage" class="custom-file-input" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                    <span asp-validation-for="AvatarImage" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="CustomerName">ФИО</label>
                    <input asp-for="CustomerName" type="text" class="form-control" placeholder="введите ваше полное имя..."/>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="SiteName">Имя, которое будет отображаться на сайте</label>
                    <input asp-for="SiteName" type="text" class="form-control" placeholder="введите имя, которое будет отображаться на сайте..."/>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="PhoneNumber">Ваш номер телефона</label>
                    <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="введите номер телефона..."/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="ChangePassword" class="w-100 btn btn-lg btn-primary">Изменить пароль</a>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Подтвердить</button>
                @if (User.Identity != null && !User.IsInRole("admin"))
                {
                    <hr>
                    <a class="w-100 btn btn-lg btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Удалить аккаунт</a>
                }
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteAccountModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="text-danger">Вы действительно хотите удалить аккаунт?</h4>
                    <div class="btn-group">
                        <a class="w-100 btn btn-lg btn-danger" asp-action="Delete" asp-controller="Account">Да</a>
                        <a class="w-100 btn btn-lg btn-primary" data-dismiss="modal">Нет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/uploadImage.js?v=2"></script>
}
