﻿@model RegisterWithProfileViewModel

@{
    ViewBag.Title = "Заполните информацию профиля";
    ViewBag.CurrentPage = "Register";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">@ViewBag.Title</h1>
        </div>
        <form enctype="multipart/form-data" method="post" asp-action="EditProfileRegister" asp-controller="Account">
            <div class="card-body">
                <div class="validation text-danger"  asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Email" value="@Model.Email"/>
                <input type="hidden" asp-for="Password" value="@Model.Password"/>
                <input type="hidden" asp-for="PasswordConfirm" value="@Model.PasswordConfirm">
                <input type="hidden" asp-for="Remember" value="@Model.Remember">
                <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl">
                <div class="form-floating">
                    <label asp-for="AvatarImage">Загрузите фотографию профиля</label>
                    <div class="custom-file">
                        <input asp-for="AvatarImage" class="custom-file-input" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                    <span asp-validation-for="AvatarImage" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="CustomerName">ФИО</label>
                    <input asp-for="CustomerName" type="text" class="form-control" placeholder="введите ваше полное имя..."/>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="SiteName">Имя, которое будет отображаться на сайте</label>
                    <input asp-for="SiteName" type="text" class="form-control" placeholder="введите имя, которое будет отображаться на сайте..."/>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <label asp-for="PhoneNumber">Ваш номер телефона</label>
                    <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="введите номер телефона..."/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Подтвердить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/uploadImage.js?v=2"></script>
}
