﻿@model WebShop.Models.LoginViewModel

@{
    ViewBag.Title = "Авторизация";
    ViewBag.CurrentPage = "Login";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Авторизация пользователя</h1>
        </div>
        <form method="post" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl"/>
                <div class="form-floating">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="введите вашу почту..."/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Password">Пароль</label>
                    <div class="input-group" id="show_hide_password">
                        <input asp-for="Password" type="password" class="form-control" placeholder="введите пароль..."/>
                        <div class="input-group-addon">
                            <a href="" class="password-show-checkbox"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <div class="checkbox mb-3">
                        <label asp-for="Remember">
                            <input asp-for="Remember" type="checkbox"/>
                            Запомнить
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/showPassword.js" asp-append-version="true"></script>
}