﻿@using WebShop.Data.Enums
@model ProfileViewModel

@{
    ViewBag.Title = "Ваш аккаунт";
    ViewBag.CurrentPage = "Profile";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

@if (Model != null && User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="d-flex justify-content-center vertical-center">
        <div class="card w-100">
            <div class="card-header">
                <h1 class="h3 mb-3 fw-normal">Ваш профиль</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <img class="img-rounded" width="100%" src="@Model.Avatar" alt="Ваш аватар"/>
                    </div>
                    <div class="col-7">
                        <div class="form-floating">
                            <label asp-for="Email">Ваш email:</label>
                            <p>@Model.Email</p>
                            <br/>
                            @if (Model.PageInfo == ProfilePageInfo.EmailVerified)
                            {
                                <label>Email подтверждён!!!</label>
                            }
                            else if (Model.PageInfo == ProfilePageInfo.EmailVerificationSent)
                            {
                                <label>Подтверждение email отправлено</label>
                            }
                            else if (Model.PageInfo == ProfilePageInfo.NeedToVerifyEmail)
                            {
                                <label>Необходимо подтвердить email!</label>
                                <a asp-action="SendVerificationEmail" class="btn btn-info">Отправить письмо с подтверждением</a>
                            }
                            else if (Model.PageInfo == ProfilePageInfo.PasswordChanged)
                            {
                                <label>Ваш пароль изменён</label>
                            }
                            <hr/>
                            <br/>
                        </div>
                        <div class="form-floating">
                            <label asp-for="SiteName">Имя, которое отображается на сайте:</label>
                            <p>@Model.SiteName</p>
                            <hr/>
                            <br/>
                        </div>
                        <div class="form-floating">
                            <label asp-for="PhoneNumber">Ваш номер телефона:</label>
                            <p>@Model.PhoneNumber</p>
                            <hr/>
                            <br/>
                        </div>
                        <div>
                            <a asp-controller="Account" asp-action="EditProfile" class="w-100 btn btn-lg btn-primary">Редактировать информацию профиля</a>
                            <hr>
                            <a asp-controller="Catalog" asp-action="Index" class="w-100 btn btn-lg btn-primary">Смотреть каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}