﻿@model RegisterWithProfileViewModel

@{
    ViewBag.Title = "Регистрация успешна";
    ViewBag.CurrentPage = "Register";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal text-success">Ваша регистрация прошла успешно!</h1>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/waitAndGoToProfile.js" asp-append-version="true"></script>
}