﻿@model NewsViewModel

@{
    ViewBag.Title = "Редактирование новости";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Оставьте свой отзыв</h1>
            <form asp-action="Index" method="get">
                <input class="w-100 btn btn-lg btn-primary" type="submit" value="Назад"/>
            </form>
        </div>
        <form enctype="multipart/form-data" method="post" asp-controller="News" asp-action="AddOrEdit">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating">
                    <label asp-for="Name"></label><br/>
                    <input asp-for="Name" value="@Model.Name"/>
                </div>
                <div class="form-floating">
                    <label asp-for="Text"></label><br/>
                    <input asp-for="Text" value="@Model.Text"/>
                </div>
                <div class="form-floating">
                    <label asp-for="File">Картинка</label>
                    <div class="custom-file">
                        <input asp-for="File" value="@Model.File" class="custom-file-input" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>