﻿@model List<NewsViewModel>

@{
    ViewBag.Title = "Новости сайта";
    ViewBag.CurrentPage = "News";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="offset-top">
    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row justify-content-center">
            @for (int j = 0; j < 3 && i + j < Model.Count; j++)
            {
                @await Html.PartialAsync("NewsPartial", Model[i + j]);
            }
        </div>
    }

    <div class="jumbotron text-center justify-content-center">
        @if (User.Identity != null && User.IsInRole("admin"))
        {
            <a class="btn btn-primary heading" asp-controller="News" asp-action="AddOrEdit">Добавить новость</a>
        }
    </div>
</div>