﻿@model NewsViewModel

<div class="col-md-4 review-panel">
    <div class="row">
        <div class="col-5">
            <img class="img-rounded" width="100%" src="@Model.Photo" alt="Аватар пользователя"/>
        </div>
        <div class="col-7">
            <h4 class="modal-title">@Model.Name</h4>
            <p>@Model.Text</p>
            @if (User.Identity != null && User.IsInRole("admin"))
            {
                <form asp-action="AddOrEdit" asp-controller="News" method="get">
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="submit" value="Редактировать"/>
                </form>
                <form asp-action="Delete" asp-controller="News" method="post">
                    <input type="hidden" name="id" value="@Model.Id"/>
                    <input type="submit" value="Удалить"/>
                </form>
            }
        </div>
    </div>
</div>