﻿@{
    ViewBag.Title = "Каталог";
    ViewBag.CurrentPage = "Catalog";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="offset-top">
    <div id="grid"></div>
    <div class="jumbotron text-center justify-content-center">
        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("admin"))
        {
            <a asp-controller="Sock" asp-action="AddOrEdit" class="btn btn-primary heading">Добавить новую стельку</a>
        }
    </div>
</div>

<div class="modal fade" id="sockModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" id="sockModalContent">
            
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/catalog/catalog.js" asp-append-version="true"></script>
}