﻿@using WebShop.Data.Enums
@model SockViewModel

@{
    ViewBag.Title = "Редактирование товара";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">@ViewBag.Title</h1>
            @if (Model.Id > 0)
            {
                <form asp-action="Index" method="get">
                    <input type="hidden" asp-for="Id" value="@Model.Id"/>
                    <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                    <input type="submit" value="Назад"/>
                </form>
            }
            else
            {
                <form asp-action="GoBack" method="get">
                    <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                    <input type="submit" value="Назад"/>
                </form>
            }
        </div>
        <form enctype="multipart/form-data"  method="post" asp-controller="Sock" asp-action="AddOrEdit">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <input type="hidden" asp-for="FromPage" value="@Model.FromPage"/>
                <div class="form-floating">
                    <label asp-for="UploadedImage">Фотография товара</label>
                    <div class="custom-file">
                        <input asp-for="UploadedImage" value="@Model.UploadedImage" class="custom-file-input" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Выберите файл</label>
                    </div>
                    <span asp-validation-for="UploadedImage" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Name"></label><br/>
                    <input asp-for="Name" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Price"></label><br/>
                    <input asp-for="Price" type="number" value="@Model.Price"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-floating">
                    <label asp-for="Description"></label><br/>
                    <input asp-for="Description" value="@Model.Description"/>
                </div>
                <hr/>
                @if (User.Identity != null && User.IsInRole("admin"))
                {
                    <div class="form-floating">
                        <div class="checkbox mb-3">
                            <label asp-for="NotExists">
                                @if (Model.NotExists)
                                {
                                    <input asp-for="NotExists" type="checkbox" value="true"/>
                                }
                                else
                                {
                                    <input asp-for="NotExists" type="checkbox"/>
                                }
                                Товара нет в наличии
                            </label>
                        </div>
                    </div>
                    <hr/>
                }
                <div class="form-floating">
                    <label asp-for="SockType"></label><br/>
                    <select asp-for="SockType" asp-items="Html.GetEnumSelectList<SockType>()" value="@Model.SockType"></select>
                    <span asp-validation-for="SockType" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>