﻿@model SockViewModel

@{
    ViewBag.Title = "Просмотр информации о товаре";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">@ViewBag.Title</h1>
            <form asp-action="GoBack" method="get">
                <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                <input type="submit" value="Назад"/>
            </form>
        </div>
        <div class="card-body">
            <div class="form-floating">
                <label asp-for="Name"></label><br/>
                @Html.DisplayFor(x => x.Name)<hr/>
            </div>
            <div class="form-floating">
                <label asp-for="Price"></label><br/>
                @Html.DisplayFor(x => x.Price) руб.<hr/>
            </div>
            <div class="form-floating">
                <label asp-for="Description"></label><br/>
                @Html.DisplayFor(x => x.Description)<hr/>
            </div>
            <div class="form-floating">
                <label asp-for="SockType"></label><br/>
                @Html.DisplayFor(x => x.SockType)<hr/>
            </div>
            @if (Model.NotExists)
            {
                <h4 class="text-danger">Товара нет в наличии!</h4>
            }
        </div>
        <div class="card-footer">
            @if (User.IsInRole("admin"))
            {
                <div class="row">
                    <form asp-action="AddOrEdit" method="get">
                        <input type="hidden" name="id" value="@Model.Id"/>
                        <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                        <input type="submit" class="w-100 btn btn-lg btn-primary"  value="Редактировать"/>
                    </form>
                    <form asp-action="Delete" method="get">
                        <input type="hidden" name="id" value="@Model.Id"/>
                        <input type="hidden" name="fromPage" value="@Model.FromPage"/>
                        <input type="submit" class="w-100 btn btn-lg btn-primary" value="Удалить"/>
                    </form>
                </div>
            }
        </div>
    </div>
</div>  