﻿@model ReviewViewModel

<div class="col-md-4 review-panel">
    <div class="row">
        <button class="btn btn-default" data-toggle="modal" data-target="#reviewModal">
            <div class="col-md-4">
                <img src="@Model.ImageSrc" class="img-thumbnail" alt="REVIEW AUTHOR"/>
            </div>
            <div class="col-md-8">
                <div class="rating-stars">
                    <input class="ratingInput" type="hidden" value="@Model.Rating"/>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                </div>
                <blockquote>
                    @Model.Text
                    <hr class="reviews-hr"/>
                    <cite>@Model.AuthorName</cite>
                    <h5>@Model.Date</h5>
                </blockquote>
            </div>
        </button>
    </div>
</div>