﻿@model List<ReviewViewModel>

@if (Model != null && Model.Count > 0)
{
    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row text-center">
            @for (int j = 0; j < 3 && i + j < Model.Count; j++)
            {
                @await Html.PartialAsync("Reviews/ReviewPartial", Model[i + j]);
            }
        </div>
    }
}