﻿@model ReviewViewModel

@{
    ViewBag.Title = "Редактирование отзыва";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="d-flex justify-content-center vertical-center">
    <div class="card w-100">
        <div class="card-header">
            <h1 class="h3 mb-3 fw-normal">Оставьте свой отзыв</h1>
            <form asp-action="Index" method="get">
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <input class="w-100 btn btn-lg btn-primary" type="submit" value="Назад"/>
            </form>
        </div>
        <form method="post" asp-controller="Reviews" asp-action="AddOrEdit">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating">
                    <label asp-for="Rating"></label><br/>
                    <input asp-for="Rating" type="hidden" id="ratingInput" value="@Model.Rating"/>
                    <div class="rating">
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                    </div>
                </div>
                <div class="form-floating">
                    <label asp-for="Text"></label><br/>
                    <input asp-for="Text" value="@Model.Text"/>
                </div>
            </div>
            <div class="card-footer">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/rating.js" asp-append-version="true"></script>
}