﻿@model List<ReviewViewModel>

@{
    ViewBag.Title = "Отзывы";
    Layout = "_Layout";
}

@section Navigation
{
    @await Html.PartialAsync("NavigationPartial");
}

<div class="offset-top">
    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row justify-content-center">
            @for (int j = 0; j < 3 && i + j < Model.Count; j++)
            {
                @await Html.PartialAsync("Reviews/ReviewPartial", Model[i + j]);
            }
        </div>
    }

    <div class="jumbotron text-center justify-content-center">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary heading" asp-controller="Reviews" asp-action="AddOrEdit">Добавить отзыв</a>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/js/reviews.js" asp-append-version="true"></script>
}
